<% if logged_in? %>
<% else %>
<div id="login_form">
  		<div id="login_heading"></div>
		<%= form_tag user_sessions_path, method: :post do %>
			<div class="field">
				<div class='emailLabel'></div>
				<%= text_field_tag :email %>
			</div>
			<div class="field">
				<div class='passwordLabel'></div>
				<%= password_field_tag :password %>
			</div>
			<div class="actions">
				<%= submit_tag "", class: 'submit'  %>
			</div>
		<% end %>

		<!--<%= link_to 'Not Registered? Sign Up Now', new_user_path %>-->
</div>
<% end %>