<% if logged_in? %>
<% else %>
<div id="login_form">
  		<div id="login_heading">		
			<h1>Enter Login Details</h1>
		</div>
		<%= form_tag user_sessions_path, method: :post do %>
			<div class="field">
				<%= label_tag :email %>
				<%= text_field_tag :email %>
				<br>
			</div>
			<div class="field">
				<%= label_tag :password %>
				<%= password_field_tag :password %>
				<br>
			</div>
			<div class="actions">
				<%= submit_tag "Login", class: ''  %>
			</div>
		<% end %>

		<!--<%= link_to 'Not Registered? Sign Up Now', new_user_path %>-->
</div>
<% end %>