<!DOCTYPE html>
<html>
  <head>
    <title>Super Endless Kingdom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
  </head>

  <body>
    <%= yield %>
    <video controls poster="/assets/titlescreeenArtwork.png">
      <source src="/assets/trailerTestOne.ogg" type="video/ogg">
      <source src="/assets/trailerTestOne.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video> 
    <script type="text/javascript">
      $('video').on('ended', function(){
        $('video').load()
      });
    </script>
    <p class="flash"><%= flash.notice %></p>
    <div class="blurb-holder">
      <p class="blurb">Can you save</p>
      <p class="blurb">your kingdom</p>
      <p class="blurb">from the horrors </p>
      <p class="blurb">in this fast&#8209;paced</p>
      <p class="blurb">retro arcade shooter?</p>
    </div>
    <h5 class="loginInfo">
      <% if logged_in? %>
        <%= "Logged in as #{current_user.username}" %>
        <%= link_to "(logout)", logout_path %>
      <% else %>
        <!--<%= link_to "(login)", login_path %>-->
      <% end %>
    </h5>
    <div class="studioLogo"></div>
    <div class="contactUs">
      <p>contact us |</p>
    </div>
    <div class="socialMediaButtons">
      <div class="twitter-hover social-slide"></div>
      <div class="facebook-hover social-slide"></div>
      <a href="mailto:rubble.game.studio@gmail.com" class="email-hover social-slide"></a><!--<div class="email-hover social-slide"></div>-->
      <div class="reddit-hover social-slide"></div>
      <p class="copyright">&copy Paul McGarry 2017</p>
    </div>
     
  </body>
</html>