<!DOCTYPE html>
<html>
  <head>
    <title>Super Endless Kingdom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="flash"><%= flash.notice %></p>
    <%= yield %>
    <h5 class="loginInfo">
      <% if logged_in? %>
        <%= "Logged in as #{current_user.username}" %>
        <%= link_to "(logout)", logout_path %>
      <% else %>
        <!--<%= link_to "(login)", login_path %>-->
      <% end %>
    </h5>
    <div class="contactUs">
      <p>contact us |</p>
    </div>
    <div class="socialMediaButtons">
      <div class="twitter-hover social-slide"></div>
      <div class="facebook-hover social-slide"></div>
      <div class="email-hover social-slide"></div>
      <div class="studio-hover social-slide"></div>
    </div>
     
  </body>
</html>